<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.everything.plaxien">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="true" >

        <activity android:name=".ExplainActivity" android:enabled="true"/>
    </application>

</manifest>
